<section class="content">
  <img
    src="https://images.unsplash.com/photo-1554976027-30fa74fd305f?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    alt=""
  />
  <div class="content__text">
    <h2>Title</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea praesentium
      vel cumque ducimus cum. Blanditiis ratione iste numquam incidunt delectus
      dolorum soluta? Quod sed ipsum vero aut totam, illum minus.
    </p>
  </div>
</section>
