<section class="home">
  <app-main-notice
    noticePhoto="../../assets/images/poseidon.jpg"
    noticeTitle="Estátua do Poseidon"
    noticeContent="Poseidon, na mitologia grega, é o senhor dos mares e oceanos, com seu tridente como símbolo de poder. Seu temperamento volátil muitas vezes resulta em tempestades e marés agitadas. Além de ser um dos principais deuses olímpicos, Poseidon é uma figura icônica da mitologia, governando as profundezas do oceano com autoridade e imponência."
  ></app-main-notice>
  <section class="notice-list">
    <app-notice
      noticePhoto="https://images.unsplash.com/photo-1554976027-30fa74fd305f?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      noticeTitle="Trevos na mitologia"
      noticeContent="Na mitologia irlandesa, os trevos são icônicos e frequentemente associados a São Patrício, o padroeiro da Irlanda, que usou o trevo de três folhas para explicar a Santíssima Trindade aos pagãos irlandeses. Isso tornou o trevo um símbolo de sorte e proteção, representando a conexão entre a fé e a cultura irlandesa."
    ></app-notice>
    <app-notice
      noticePhoto="https://images.unsplash.com/photo-1601042879364-f3947d3f9c16?auto=format&fit=crop&q=80&w=1887&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      noticeTitle="Cyberpunk e o Japão"
      noticeContent="O Japão desempenha um papel significativo no gênero cyberpunk, influenciando sua estética e temas. Essa relação é evidente na fusão da tecnologia avançada com uma sensibilidade tradicional japonesa, resultando em cenários urbanos futuristas, ciberespaciais e distópicos. O país também contribuiu para a criação de ícones culturais do cyberpunk, como os ciber-ninjas e a ênfase na tecnologia de ponta. O Japão é um reflexo da dicotomia do gênero, com uma sociedade altamente tecnológica que coexiste com elementos tradicionais, tornando-o um terreno fértil para narrativas cyberpunk."
    ></app-notice>
    <app-notice></app-notice>
  </section>
</section>
