@import "../../styles.functions.scss";
@import "../../styles.variables.scss";

.home {
  @include flex(column, start, center);
  max-width: 1240px;
  width: 100%;
  margin: 6rem auto 0;
  padding: 0 2.5rem;

  & > .notice-list {
    @include flex(column, start, center);
    width: 100%;
    gap: 2rem;
    margin-top: 3rem;
  }
}
