@import "../../styles.functions.scss";
@import "../../styles.variables.scss";

.header {
  @include flex(row, space-between, center);
  max-width: 1240px;
  width: 100%;
  margin: 1.75rem auto 0;
  padding: 0 2.5rem;

  & > h1 {
    @include text($title-font-family, 2.25rem, 500, $main-color);
  }

  &__social-icon {
    @include flex(row, center, center);
    gap: 2.5rem;

    & > a > img {
      cursor: pointer;
      width: 1.75rem;
    }
  }
}

@media (max-width: 768px) {
  .header {
    @include flex(column, start, center);

    & > h1 {
      @include text($title-font-family, 3rem, 500, $main-color);
    }

    &__social-icon {
      padding-top: 0.5rem;

      & > a > img {
        width: 1.5rem;
      }
    }
  }
}
