@import "../../styles.functions.scss";
@import "../../styles.variables.scss";

.notice {
  @include flex(column, end, start);
  position: relative;
  width: 100%;
  height: 22rem;
  padding: 1rem 3rem;

  & img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    object-fit: cover;
    object-position: center;
  }

  & > h2 {
    @include text($title-font-family, 2rem, 400, $main-color);
  }

  & > p {
    @include text($text-font-family, 1rem, 500, $text-color);
    width: 65%;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    background-color: rgba($color: $background-color, $alpha: 0.5);
  }
}
