.aboutMe {
  display: flex;
  flex-direction: column;
  padding: 0.8rem 0.8rem;
  max-width: 10rem;
  border-radius: 0.8rem;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.aboutMe h1 {
  font-size: 1.3rem;
  font-weight: normal;
}

.aboutMe img {
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.55);
}

.aboutMe p {
  font-size: 0.8rem;
  text-align: center;
}
