* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  font-family: var(--primary-font);
  font-size: var(--text-base-font-size);
  font-weight: 400;
  line-height: var(--line-height);
  color: var(--text-color);

  background-color: var(--background-color);
}
