header {
  display: flex;
  flex-direction: column;
  padding: 1.2rem 0;
  margin: 0 auto;
}

.title {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 2.5rem;
  font-style: italic;
}

.social-links {
  display: flex;
  margin-top: 0.5rem;
  justify-content: center;
  gap: 1rem;
}

.social-icon {
  width: 1.5rem;
  height: 1.5rem;
}
