@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500;600;700&family=Ysabeau:wght@1;100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --primary-font: "Ysabeau", sans-serif;
  --secondary-font: "Cormorant", serif;

  --regular-font-size: 16px;
  --subtitle-font-size: 21px;
  --title-font-size: 34px;

  --background: #05070d;
  --text-color: #fff;
  --border-color: #fff;

  --primary-color: #d95f80;
  --primary-color-auxiliar: #d96aa7;
  --secondary-color: #52b5f2;
  --secondary-color-auxiliar: #4ebfd9;
}
