@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap");

:root {
  --background-color: #fff;
  --text-color: rgba(0, 0, 0, 0.87);
  --primary-color: #05697c;
  --secondary-color: #c47530;
  --primary-gradient: linear-gradient(right, #05697c, #68a7ac);
  --secondary-gradient: linear-gradient(right, #c47530, #fac585);
  --border-color: var(--primary-color);

  --primary-font: "Merriweather", serif;
  --secondary-font: "Cinzel", serif;
  --line-height: 1.5;

  --title-font-size: 24px;
  --subtitle-font-size: 20px;
  --text-base-font-size: 14px;
  --text-small-font-size: 12px;
  --text-medium-font-size: 14px;
  --text-large-font-size: 16px;

  --border-radius: 4px;
  --border-width: 1px;

  --transition-duration: 0.3s;
  --transition-timing-function: ease-in-out;

  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  --spacing: 8px;

  --breakpoints-small: 576px;
  --breakpoints-medium: 768px;
  --breakpoints-large: 992px;
  --breakpoints-xlarge: 1200px;
  --breakpoints-xxlarge: 1400px;

  --breakpoints: (
    "small": (
      --text-base-font-size: 12px,
      --text-small-font-size: 10px,
      --text-medium-font-size: 12px,
      --text-large-font-size: 14px,
    ),
    "medium": (
      --text-base-font-size: 14px,
      --text-small-font-size: 12px,
      --text-medium-font-size: 14px,
      --text-large-font-size: 16px,
    ),
    "large": (
      --text-base-font-size: 16px,
      --text-small-font-size: 14px,
      --text-medium-font-size: 16px,
      --text-large-font-size: 18px,
    ),
    "xlarge": (
      --text-base-font-size: 20px,
      --text-small-font-size: 18px,
      --text-medium-font-size: 20px,
      --text-large-font-size: 22px,
    ),
    "xxlarge": (
      --text-base-font-size: 24px,
      --text-small-font-size: 22px,
      --text-medium-font-size: 24px,
      --text-large-font-size: 26px,
    )
  );
}
