.navbar_container {
  display: flex;
  justify-content: center;
}

.navbar_link_list {
  display: flex;
  gap: 20px;
  list-style: none;
  font-size: var(--text-large-font-size);
  color: var(--secondary-text-color);
  font-weight: 400;
}
